@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

body {
    background-color: #131e2c;
    text-align: center;
}

h1 {
    font-size: 3.5em;
    color: #476C9B;
    text-shadow: 4px 4px 4px #254c64;
}

fieldset {
    border-color: rgb(212, 224, 228);
    border-width: 15px;
    border-style: double;
    border-radius: 50px;
    font-size: 1.5em;
    font-weight: 500;
}

legend {
    font-size: 2em;
    color: #ADD9F4;
    text-shadow: 2px 2px 2px lightblue;
    padding-left: 25px;
    padding-right: 25px;
}

input {
    background-color: rgb(212, 224, 228);
    border-radius: 25px;
    border-bottom: 1px solid lightblue;
    color: #152c3a;
    font-weight: bold;
}

select {
    background-color: rgb(212, 224, 228);
    border-radius: 25px;
    border-bottom: 1px solid lightblue;
}

#fields {
    color: #ADD9F4;
}

#formTitle {
    border: 5px solid rgb(212, 224, 228);
    border-radius: 25px;
    color: #ADD9F4;
    padding: 10px 25px;
}