* {
    border: 0;
    margin: 0;
}

body {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-family: Tahoma;
    font-size: 3em;
    text-shadow: 2px 2px black;
    background-color: seagreen;
    color: lightblue;
    margin: 0 auto;
    padding: 1%;
}

#navigation {
    display: flex;
    justify-content: center;
    background-color: lightgreen;
    border-top: yellowgreen solid 3px;
    border-bottom: lightblue solid 3px;
}

#navigation .current-page {
    text-decoration: none;
    color: lightblue;
    background-color: seagreen;
    box-shadow: 4px 4px black;
    padding: 10px 15px;
    margin: 10px 15px;
}

#navigation a {
    text-decoration: none;
    color: lightblue;
    background-color: lightseagreen;
    box-shadow: 3px 3px black;
    padding: 10px 15px;
    margin: 10px 15px;
    border: lightsteelblue solid 1px;
}

#navigation a:hover {
    background-color: lightskyblue;
    color: lightseagreen;
}

#navigation a:active {
    background-color: skyblue;
    box-shadow: 2px 2px black;
}

#team {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 25px 10px;
}

.team-figure {
    text-align: center;
    font-family: Tahoma;
    color: seagreen;
}

.team-photo {
    border: black solid 2px;
    border-radius: 50px;
    width: 300px;
}

.text-block {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 15px;
    font-size: 1.4em;
    font-family: 'Times New Roman', Times, serif;
}

#greeting {
    margin-bottom: 30px;
    font-size: 1.2em;
}

#quote {
    font-style: italic;
    font-size: 1.2em;
}

#quote-name {
    font-size: 1.1em;
}

footer {
    color: lightyellow;
    font-size: 1em;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border-top: black solid 3px;
    background-color: seagreen;
    padding: 10px;
    margin-top: 15px;
    height: auto;
    justify-content: flex-end;

    /* Bandaid fix to stick footer at bottom of page */
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer-contact {
    position: relative;
}

footer p {
    font-family: Tahoma;
    font-size: 1em;
}

#font-test {
    font-family: "Sofia", sans-serif;
    padding: 5px;
}

#csumb-logo {
    width: 100px;
    margin-bottom: 5px;
}


.table-experience {
    margin: 30px 0;
    font-size: 30px;
}

#lang-exp {
    margin: 0 auto;
    text-align: center;
}

#hobbies {
    border-top: solid black 5px;
    padding-top: 10px;
    font-size: 25px;
    font-family: 'Times New Roman', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#hobbies-title {
    font-weight: bold;
}

#form {
    margin: auto;
}